html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
    title bDiscuss
    meta(name='viewport',content='width=device-width')
    link(rel='stylesheet',href='/stylesheets/app.css')
  body
    header.header-container#header-container
    div.container.outer-container
      div.page-container#page-container

    script.
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = {enabled: true};
    script(src="/javascripts/vendor.js")
    script(src="/javascripts/app.js")
    script.
      require('initialize');